{% extends 'base.html' %} {% block content %}
<h1>Meal List</h1>
<div class="row">
  {% for meal in meals %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <img
        src="{{ meal.strMealThumb }}"
        class="card-img-top"
        alt="{{ meal.strMeal }}"
      />
      <div class="card-body">
        <h5 class="card-title fw-bold fs-3">{{ meal.strMeal }}</h5>
        <p class="card-text fw-medium">{{ meal.strInstructions }}</p>
      </div>
    </div>
  </div>
 
  {% endfor %}
</div>
{% endblock %}
